# ----------------------
# Python Backend
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

venv/
env/
.venv/

# Logs
*.log

# ----------------------
# Environment variables
# ----------------------
.env
.env.*

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# Testing
# ----------------------
.coverage
htmlcov/
.pytest_cache/

# ----------------------
# Misc
# ----------------------
*.zip
*.tar
*.gz